* {
  padding: 0px;
  margin: 0px;
  font-family: "Baloo Bhai", cursive;
  /* font-family: sans-serif; */
  
}
html,body
{
    width: 100%;
    height: 100%;
    overflow-x: hidden; 
   
}
/*Background of main section*/
.container {
  /* background-color: yellow; */
  background-image: url("https://d3i4yxtzktqr9n.cloudfront.net/web-eats-v2/9b21aa66b4922ae2.png");
  /* height: 1000px; */
  
  background-repeat: no-repeat;
  display: grid;
  background-size: cover;
  padding-bottom: 400px;
}

/*Navbar*/
.top{
  display: grid;
  grid-template-columns: 0.08fr 0.7fr 0.1fr 0.1fr;
  padding: 80px 0px;
  
} 

.topnav {
  overflow: hidden;
    position: relative;
}


.topnav #myLinks {
  display: none;
}

/*  navigation menu links */
.topnav a {
  color: black;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}
.topnav div{
  height: 1000px;
  width: 400px;
  background-color: white;
}

/* hamburger menu */
.topnav a.icon {
  /* background: black; */
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}


.topnav a:hover {
  background-color: #ddd;
  color: black;
}


.active {
  background-color: black;
  color: white;
}
/*Logo*/
.ubereats {
  /* padding-top: 10px; */
  width: 22%;
  display: flex;
  flex-wrap: flex;
}

button {
  width: 220px;
  height: 80px;
  cursor: pointer;
  font-size: 20px;
  font-size: 1.5rem;
}
/*NAv-buttons*/
.login {
  background: white;
  border: 2px solid white;
  border-radius: 40px;
}
.login p{
  display: inline;
}
.signup {
  color: white;
  background-color: black;
  border: 2px solid black;
  border-radius: 40px;
}
.login:hover {
  background-color: rgb(207, 204, 204);
}
.signup:hover {
  background-color: rgb(77, 76, 76);
}
.sign{
  background-color: black;
  color: white;
  border-radius: 30px;
  width: 180px;
  margin-right: 50px;
  margin-left: 50px;
}


/*Person logo*/
.personlogo {
  height: 25px;
  width: 25px;
}
/*Main section*/
.container1 {
  padding-top: 400px;
}
h1 {
  font-size: 6rem;
  padding-left: 34px;
  padding-bottom: 20px;
}
.box1 {
    display: flex;
  flex-wrap:wrap;
 }
/* deliver address input*/
input {
  margin-left: 34px;
  font-size: 1.5rem;
  padding-left: 80px;
  width: 800px;
  height: 75px;
  border: none;
  background-image: url("gps-map-navigation-direction-solid-icon-illustration-logo-template-suitable-for-many-purposes-free-vector.jpg") ;
  /* background-position: center; */
  background-repeat: no-repeat;
  background-size: 60px;
   no

}

/* select {
  font-size:1.5rem;
  height: 74px;
  width: 275px;
  margin-left: 10px;
  border: none;
  align-content: center;
  

} */
/*Drop down menu*/
select{
  font-size:1.5rem;
  height: 74px;
  width: 275px;
  margin-left:10px ;
  border: none;
  align-content: center;
}
/*find food button*/
.find {
  background-color: black;
  color: white;
  border-radius: 12px;
  height: 74px;
  margin-left: 10px;
  width: 200px;
  border: none;
}

.recent {
  font-size: 1.4rem;
  padding-top: 20px;
  padding-left: 34px;
}
a {
  color: black;
}
/*2nd section images*/
.food {
  width: 800px;
  /* max-width:90%; */
  max-height: 100%;
  /* display: inline-block;  */
  padding: 14px;
    position: relative;
  /* border: 5px solid green; */
  }


/* .b11{
  position: fixed;
} */
/*1st section*/
#container2 {
    padding-top: 40px;
  padding-bottom: 80px;
display: flex;
flex-direction: row;
flex-wrap: wrap;
padding-left: 10px;
    padding-right: 24px;
}
/*making images in a row*/
.rowgrid4{
  display: grid;
  grid-template-rows: 0.2fr 0.3fr 0.2fr;
}
.large {
  font-size: 2.8rem;
  text-decoration: none;
  font-weight: bolder;
  margin-left: 24px;
}
.small {
  font-size: 1.9rem;
  margin-left: 24px;
}
/*2nd section*/
.container3 {
  display: grid;
  grid-template-columns: 1fr 0.14fr;
}
.container3 a {
  font-size: 1.8rem;
  padding-top: 6px;
}
.rowgrid {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
}
.rowgrid a {
  text-decoration: none;
  padding: 14px;
}
h2 {
  font-size: 3.4rem;
}
/*3rd and 4th section*/
.container4 {
  margin-top: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  font-size: 1.8rem;
  margin-bottom: 60px;
}
.rowgrid1 {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.rowgrid1 a {
  text-decoration: none;
  padding: 14px;
}
.allcountries {
  display: grid;
  grid-template-columns: 1fr 0.14fr;
}
.allcountries a {
  font-size: 1.9rem;
}
/*5th section*/
footer {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr;
  padding-top: 100px;
  padding-bottom: 100px;
}
.rowgrid3 {
  display: grid;
  grid-template-rows: 2fr 1fr 1fr;
}
.rowgrid2 {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.rowgrid2 a {
  text-decoration: none;
  padding: 6px;
  font-size: 1.4rem;
}
.rowgrid2 a:hover {
  text-decoration: underline;
}
.image2 {
  display: block;
  width: 17%;
  padding-left: 40px;
  cursor: pointer;
}
.image3 {
  width: 250px;
  padding-left: 40px;
}
section {
  display: grid;
  grid-template-columns: 0.08fr 0.08fr 0.35fr 1fr ;
  grid-gap: 6px;
}
.items{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  
  
}
.map{
 background-image: url("Screenshot 2023-03-21 152139.png");
 background-size: cover;
 height: 1000px;
 background-position: center;
 background-repeat: no-repeat;
 margin: 30px;
 display: grid;
 

}
.items a{
  padding-left: 8 0px;
  padding-right: 80px;
}
section a {
  text-decoration: none;
  font-size: 1.3rem;
}
.section a:hover {
  text-decoration: underline;
}
.media {
  width: 40px;
  padding-left: 40px;
  cursor: pointer;
}



@media (max-width:1660px){
  .food{
    max-width: 100%;
    display: inline;

  }
  .login{
    margin-right: 20px;
  }
  .ubereats{
    width: 59%;
  }
  /* .ubereats{
    width: 59%;
    margin-right: 24px;
    margin-left: 24px;
  }
   */

}
@media(max-width:1250px){
.find{
  margin: 30px;
}
}
@media(max-width:1180px){
  select{
    margin: 30px;
  }
  
}
@media(max-width:1100px){
  .container{
    background-position: center;
  }
  .login{
    width: 160px;
  }
  .signup{
    width: 160px;
  }
}


@media(max-width:930px){
  input{
    width: 600px;
    
  }
  /* .ubereats{
    width: 16%;
  } */
  .ubereats{
    width: 77%;
  }
}
@media(max-width:860px){
  
  .container2 div{
    font-size: 0.1rem;
  }
  .login p {
    display: none;
  }
  .login{
    width: 88px;
    margin-right: 12px
  }
}
@media(max-width:850px){
  footer{
    display: flex;
    flex-direction: column;
    padding: 16px;
    margin-bottom: 30px;
    
  }
  .image2{
    padding: 24px;
  }
  #r2{
    margin-top: 120px;
  }
  section{
    display: flex;
    flex-direction: column;
  }
  .items a {
    padding: 14px;
  }
  .container2{
    padding-left: 44px;
    padding-right: 44px;
  }
}
@media(max-width:785px){
  .signup{
    width: 100px;
  }
 
}
@media  (max-width:740px){
  
  .container{
    flex-wrap: flex;
  }
  #column4{
    display: none;
  }
  #column8{
    display: none;
  }
}


@media(max-width:715px){
  input{
    width: 400px;
  }
  .ubereats{
    width: 97%;
  }
}
@media (max-width:690px){
  .container{
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
  }
  
}
@media(max-width:650px;){
  .items a {
    display: flex ;
    flex-direction: row;
    padding-top: 100px;
    padding-bottom: 100px;
      }
      .container{
        background-position: center;
        background-size: contain;
      }
      .signup{
        width: 60px;
        margin-left: 10px;
      }
      .ubereats{
        margin-right: 20px;
      }
}
@media(max-width:530px){
  input{
    width: 275px;
  }
  select{
    width: 140px;
    font-size: medium;
  }
  .find{
    width: 100px;
  }
  #column3 {
    display: none;
  }
  #column7 {
    display: none;
  }
}
@media(max-width:400px){
  input{
    width:220px ;
      }
}
